/* style general */
* {
  margin: 0;
  padding: 0;
}
html {
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
  color: #5d7e87;
}
ul,
ol {
  list-style: none;
}
@font-face {
  font-family: Poppins;
  src: url(¨fonts/Poppins-Bold.ttf¨);
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: Poppins;
  src: url(¨fonts/Poppins-Light.ttf¨);
  font-style: normal;
  font-weight: 200;
}
@font-face {
  font-family: Poppins;
  src: url(¨fonts/Poppins-Regular.ttf¨);
  font-style: normal;
  font-weight: normal;
}
header {
  background-color: #ffffff;
  position: fixed;
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.header__nav {
  display: flex;
  width: 600px;
  justify-content: space-around; 
}
.header__nav a {
  color: #5d7e87;
  font-size: 16px;
  font-weight: 700;
}
/* style index */
.main__principal {
  background-image: url(../img/imagendefondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items:center ;
}
.main__principal__title {
  color: #5d7e87;
  font-style: normal;
  font-weight: 700;
  font-size: 58px;
  line-height: 1.6;
  padding-left: 90px;
}
.main__principal__paragraph {
  color: #5d7e87;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.4;
  padding-left: 90px;
}
.reviews {
  background-color: #fff;
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  line-height: 1.6;
  color: #5d7e87;
  margin-top: 26px;
  display: flex;
}
.reviews__title {
  margin-bottom: 30px;
  font-size: 48px;
}
.reviews__blockquote {
  margin-top: 16px;
}
.our__work {
  background-color: #cfd7da;
  font-style: normal;
  font-weight: 200;
  text-align: left;
  line-height: 1.6;
  color: #5d7e87;
}
.our__work__paragrafh {
  background-color: #cfd7da;
  font-style: normal;
  font-weight: 200;
  font-size: 20px;
  line-height: 1.6;
  color: #5d7e87;
  padding-top: 40px;
  padding-left: 36px;
}
.our__work__description{
  width: 80%;
  height: 450px;
  margin: auto;
  display: grid;
  grid-auto-flow: row;
  align-items: center;
}
.our__work__description-card{
  font-size: 20px;
  color: #839098;
}
.our__work__title2 {
  color: #1d9fe3;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  line-height: 1.6;
}
.contact__us {
  color: #ffffff;
  line-height: 1,6;
  background-color: #839098;
  font-size: 28px;
  text-align: left;
  display: flex;
}
.contac__us__title {
  padding-top: 100px;
  padding-left: 20px;

}
.form{
  background-color: #fff;
  color: #839098;
  line-height: 2;
  width: 90%;
  max-width: 400px;
  padding: 72px 48px;
  border-radius: 10px;
  text-align: center;
  margin: 56px 20px;
  display: grid;
}
.form__contacto {
  position: relative;
}
.form__input{
  width: 100%;
  background: none;
  font-family: "Poppins", sans-serif;
  color: #839098;
  font-size: 16px;
  padding: 5px 2px;
  border: none;
  outline: none;
  border-bottom: 1px solid #839098;
}
.form__submit{
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  font-weight: 700;
  line-height: 18px;
  background-color: #1d9fe3;
  border: 1px solid #ffffff;
  padding: 16px;
  cursor: pointer;
}
.sumate__principal{
  color: #012d6a;
  font-style: normal;
  font-size: 20px;
  line-height: 1.6;
  padding-top: 30px;
  margin: 10px 20px;
  text-align: end;
}

.btn__cargarcv {
  display: inline-block;
  font-size: 18px;
  color: #012d6a;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
  background-color: #ffffff;
  border: 1px solid #012d6a;
  padding: 16px;
}
.footer {
  background-color: #012d6a;
  color: #fff;
  font-style: normal;
  font-size: 14px;
  text-align: left;
  line-height: 1.6;
}
.footer__paragraph {
  padding: 15px 0 30px 10px;
}
/* style sobre nosotros */

/* style contacto */